.signup-card{
    display: flex;
    padding: 15px;
    margin-left: 30%;
    margin-top: 8%;
    font-size: 18px;
    width: 800px;
    min-height: 400px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.signup-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.left {
    float: left;
}

.middle {
    float: left;
    padding: 10px;
}

.right {
    float: right;
    padding: 10px;
}

.input-container {
    margin: 8%;
    display: -ms-flexbox; /* IE10 */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.btn2 {
    background-color: #D9381E;
    color: white;
}

.error-message {
    color: #cc0033;
    display: inline-block;
    font-size: 15px;
}