<form [formGroup]="requiredForm">
  <div class="signup-card">
    <div class="left">
      <img src="https://img.freepik.com/free-vector/man-standing-flipchart-with-list_1262-19830.jpg" width="350" height="350" />
    </div>
    <div class="middle">
      <h3>Sign Up</h3>
      <div class="input-container">
        <input [(ngModel)]="email" class="input-field" type="text" placeholder="Email ID" formControlName="email"/>
        <div class="error-message">
          <div *ngIf="requiredForm.controls['email'].invalid && requiredForm.controls['email'].touched">
            <div *ngIf="requiredForm.controls['email'].errors?.['required']">
              Email is required
            </div>
            <div *ngIf="requiredForm.controls['email'].errors?.['pattern']">
              Invalid email
            </div>
          </div>
        </div>
      </div>
      <div class="input-container">
        <input [(ngModel)]="pwd" class="input-field" type="text" placeholder="Password" formControlName="pwd"/>
        <div class="error-message">
          <div *ngIf="requiredForm.controls['pwd'].invalid && requiredForm.controls['pwd'].touched">
            <div *ngIf="requiredForm.controls['pwd'].errors?.['required']">
              Password is required
            </div>
            <div *ngIf="requiredForm.controls['pwd'].errors?.['pattern']">
              Invalid password
            </div>
          </div>
        </div>
      </div>
      <div class="input-container">
        <input [(ngModel)]="confirm_pwd" class="input-field" type="text" placeholder="Confirm Password" formControlName="confirm_pwd"/>
        <div class="error-message">
          <div *ngIf="requiredForm.controls['confirm_pwd'].invalid && requiredForm.controls['confirm_pwd'].touched">
            <div *ngIf="requiredForm.controls['confirm_pwd'].errors?.['required']">
              Confirm password is required
            </div>
          </div>
          <div *ngIf="requiredForm.hasError('notSame') && requiredForm.controls['confirm_pwd'].touched">
            Confirm password doesnot match
          </div>
        </div>
      </div>
      <div class="input-container">
        <button class="input-field btn2" (click)="addToList()" >Signup</button>
        <div class="error-message">{{errormsg}}</div>
      </div>
      <div class="input-container">
        <a href="/">Existing user? Signin</a>
      </div>
    </div>
  </div>
</form>