body {
    background-color: #6495ED;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.triangle {
    margin-top: 2%;
	width: 0;
	height: 0;
	border-left: 225px solid transparent;
	border-right: 225px solid transparent;
	border-bottom: 230px solid #0047AB;
}

.square {
    height: 275px;
    width: 320px;
    background-color: #0047AB;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.rectangle {
    margin-left: 15%;
    height: 30px;
    width: 215px;
    background-color: #FFBF00;
    border-radius: 20px;
}

.door {
    margin-left: 30%;
    margin-top: 37%;
    height: 125px;
    width: 125px;
    background-color: #FFBF00;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}