body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2{
  text-align:center;
  color: #4c2881;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4c2881;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-size: medium;
  font-weight: 500;
  width: 100%;
}

.container {
  padding: 16px;
  width:600px;
  display:block;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  background-color:white;
}

.container2 {
  padding: 16px;
  width:600px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  background-color:white;
}

.forgetPass{
  margin-left:73%;
  margin-bottom:20px;
}

#uname:focus{
  border:1px solid skyblue;
}

.btn{
  width:100%;
  background-color:white;
  padding:0px;
}
/* below keyboard functionality */
.btn:focus > .btn__content  {
    box-shadow: 0 0 2px 2px #51a7e8;
    color: lime;
}

/* Removing default outline only after we've added our custom one */
.btn:focus,
.btn__content:focus {
    outline: none;
    
}
/* tab key - shift to main content*/
a.skip-main {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#4c2881;/*#8066ba;*/
    text-decoration: none;
    border: none;
    left: auto;
    top:1px;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}  

.btn1 {
  width: 49.5%;
  background-color: #1ab32e;
}
.btn2 {
  width: 49.5%;
  background-color: #d12222;
}