body {
    position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #58CCED;
    background-image: linear-gradient(#58CCED, #3895D3, #1261A0, #072F5F);
}