<app-nav [todos]="todos"></app-nav>

<div class="input-container">
    <input [(ngModel)]="newTask" class="input-field" type="text" value={{edit}} placeholder={{action}}>
    <button class="btn" (click)="addToList()">
      <i class="fa fa-plus icon" aria-hidden="true"></i>
    </button>
    <button class="btn" (click)="refreshList()">
      <i class="fa fa-refresh icon4" aria-hidden="true"></i>
    </button>
</div>
<div class="container">
  <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <h4>Todo🧐</h4>
          <div *ngFor="let x of todos; let index = index;">
            <div *ngIf="(x.status === false)" >
            <div class="items">
              <h5>{{x.task | titlecase}} {{x.time}}</h5>
              <button class="btn" (click)="completedTask(index)">
                <i class="fa fa-check icon1" aria-hidden="true"></i>
              </button>
              <button class="btn" (click)="editTask(index)">
                <i class="fa fa-pencil-square-o icon3" aria-hidden="true"></i>
              </button>
            </div>
            </div>
          </div>  
        </div>
      </div>
      <div class="col-sm-6">
          <div class="card">
            <h4>Completed😃</h4>
            <div *ngFor="let x of todos; let index = index;">
              <div *ngIf="(x.status === true)" >
              <div class="items">
                <h5>{{x.task | titlecase}} {{x.time}}</h5>
                <button class="btn" (click)="incompleteTask(index)">
                  <i class="fa fa-trash icon2" aria-hidden="true"></i>
                </button>
              </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>	