body {
    background-color: #FFFF8F;
}

.hand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.finger1 {
    background-color: #28282B;
    width: 50px;
    height: 140px;
    border-radius: 30px;
    margin-left: -18%;
    margin-top: 3%;
    transform: rotate(60deg);
    border: 6px solid #FFFF8F;
}

.finger2 {
    background-color: #28282B;
    width: 50px;
    height: 110px;
    border-radius: 30px;
    margin-top: -5%;
}

.finger3 {
    background-color: #28282B;
    width: 50px;
    height: 135px;
    border-radius: 30px;
    margin-top: -7%;
}

.finger4 {
    background-color: #28282B;
    width: 50px;
    height: 100px;
    border-radius: 30px;
    margin-top: -4.25%;
}

.finger5 {
    background-color: #28282B;
    width: 50px;
    height: 85px;
    border-radius: 30px;
    margin-top: -3%;
}

.palm {
    background-color: #28282B;
    width: 240px;
    height: 110px;
    margin-top: 13%;
    margin-left: -20%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
} 

.wrist {
    background-color: #28282B;
    width: 120px;
    height: 120px;
    margin-top: 25%;
    margin-left: -2.7%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}